.top-bar{background-color:#00aeef;color:#fff;padding: 10px 0px;font-family: 'Heebo', sans-serif !important;font-weight:400;line-height:24px;font-size: 14px;}

.top-bar a{color:#fff;text-decoration: none;margin:0px 5px;}
.top-bar a:hover{color:#fff;text-decoration: none;}

.main-menu{background-color: #fff;}

.dropdown:hover>.dropdown-menu {display: block;}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  top: 44px;
}

.dropdown-item:focus, .dropdown-item:hover{background-color:#00aeef !important;color:#fff !important}

.navbar-nav .dropdown-menu{
  min-width: 13rem;
  padding: 10px;
  margin-top: 0px;
  animation: moveDownWithFade 0.3s linear;
  transition: all 0.1s ease;
}
@keyframes moveDownWithFade {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

.dropdown-menu{
  transition: all 0.1s ease;
}


.navbar-nav a{margin-left: 15px;padding:15px!important;font-weight: 500;text-transform: uppercase;font-size: 14px;color:rgba(0,0,0,.55);}

.navbar-nav a:hover{color:#00aeef;}
.navbar-light .navbar-nav .nav-link:hover{color:#00aeef !important;}

.navbar-light .navbar-nav .nav-link.active{color:#00aeef !important;}

.navbar-nav a.inn-lnk{padding:0px !important;font-size: 13px;color: #212529;font-weight: 400;}

.navbar-nav a.inn-lnk:hover{color:#fff;}

.navbar-nav a.dropdown-item {
  display: block;
  width: 100%;
  padding:6px 20px 6px 8px !important;
  clear: both;
  font-weight: 400; 
  text-align: inherit; 
  white-space: nowrap; 
  border: 0;
  font-size: 13px;
}

.dropdown-menu a{margin-left: 0px;}

.common-title h2{font-family: 'Poppins', sans-serif !important;font-weight:600;position: relative;color:#00aeef;font-size: 16px;text-transform: uppercase;display: inline-block;margin-bottom:20px;}

.common-title.white h2{color: #fff;}

.common-title h2:before{position: absolute;background: rgba(0, 0, 0, 0) url("./images/small-logo.png") no-repeat scroll 0 0;right: -48px;top: -9px;width: 40px;height: 37px;content: "";}

.common-title.white h2:before{background: rgba(0, 0, 0, 0) url("./images/small-logo-white.png") no-repeat scroll 0 0;}

.common-second-title h3{font-family: 'Poppins', sans-serif !important;font-weight:700;color:#6d6e71;font-size: 35px;text-transform: uppercase;display: inline-block;margin-bottom:20px;}

.common-second-title.white h3{color: #fff;}

.common-third-title h4{font-family: 'Poppins', sans-serif !important;font-weight:400;color:#6d6e71;font-size: 22px;margin-bottom:20px;line-height: 34px;}

.common-para p{font-family: 'Heebo', sans-serif !important;font-weight:400;color:#959595;font-size: 16px;line-height: 26px;}

.about-section .common-para p{margin-bottom: 45px;}

.about-section{position: relative;}

.about-section:before{position: absolute;background: rgba(0, 0, 0, 0) url("./images/bg-1.png") no-repeat scroll 0 0;right: 0;top: -300px;width: 749px;height:916px;content: "";z-index: -1;}

.logos-lists ul{padding: 0px;margin: 0px;}

.logos-lists ul li {
  display: inline-block;
  margin: 0px 10px;
  position: relative;
  width: 16%;
}

.logos-lists ul li img{width:100%}

.logos-lists ul li:before{position: absolute;content: "";right:-10px;top:0;height: 65px;width:1px;background-color: #dedede;}

.logos-lists ul li:last-child:before{display: none;}

.comn-butn{margin-top: 45px;}

.comn-butn a{padding:10px 34px;font-family: 'Poppins', sans-serif !important;font-weight:500;color:#fff;font-size:15px;background-color: #00aeef;display:inline-block;}

.comn-butn a:hover{background-color: #6d6e71;color:#fff;}

.why-chooseus{margin: 100px -21px 0px -21px;}

.why-chooseus .col-lg-3{float: left;}

.main-box{padding:40px 30px 45px 30px;-webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.1);margin:0px 21px;min-height: 305px;}

.why-chooseus .common-second-title{margin-bottom:20px;}

.main-box img{margin-bottom: 25px;}

.main-box h4{font-family: 'Poppins', sans-serif !important;font-weight:600;font-size: 20px;line-height: auto;color: #6d6e71;}

.main-box p{color:#949494;font-family: 'Heebo', sans-serif !important;font-weight:400;font-size: 16px;line-height: 24px;}

.services-section{background:rgba(0, 0, 0, 0) url("./images/bg-2.jpg") no-repeat scroll 0 0; 
    background-size: cover;}


.services-section .common-second-title.white h3{margin-bottom: 0px;}

.major-box img{width:100%;}

.major-box{position:relative;margin-top: 40px;transition: all 1s ease;-webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.14);}
.major-box:before{position:absolute;background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 16%, rgba(0,0,0,0.16290266106442575) 76%, rgba(0,0,0,0) 100%);height: 100%;width: 100%;left:0;top:0;content: "";} 

.maj-content{ position: absolute;
    content: "";
    bottom: 65px;
    left: 30px;
    width: 100%;
    height: 25px;
    overflow: hidden;
    transition: all 0.5s ease;
  }

.major-box:hover .maj-content{height: 105px;transition: all 0.5s ease;}

.maj-content h4{font-family: 'Poppins', sans-serif !important;font-weight:600;font-size: 20px;line-height: auto;color: #ffffff;}

.maj-content p{color:#fff;font-family: 'Heebo', sans-serif !important;font-weight:400;font-size: 16px;line-height: 24px;width:80%;}

.maj-content-1{position:absolute;content:"";bottom:10px;left:30px;width:100%;height:45px;}

.maj-content-1 a{font-family: 'Poppins', sans-serif !important;font-weight:500;font-size: 15px;color: #00aeef;transition: all 0.5s ease;}

.maj-content-1 a:hover{color:#fff;transition: all 0.5s ease;}

.products-sector{background-color:#f6f6f6;}

.projects-completed{padding: 0px 50px;position: relative;}

.projects-completed img{width:100%;-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.18);}

.prdt-detls{background-color: #00aeef;
    display: inline-block;
    padding: 25px 55px 25px 40px;
    position: absolute;
    left: 0;
    bottom: 53px;
    box-shadow: 13px -13px 0px #FFF;} 

.prdt-detls h4{font-family: 'Poppins', sans-serif !important;font-weight: 700;font-size: 24px;color: #fff;}

.prdt-detls p{font-family: 'Heebo', sans-serif !important;font-weight:400;font-size: 15px;line-height: 24px;color: #fff;margin: 0px;}

.projects-completed .arrow-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 0px solid transparent;
    border-top: 53px solid #494949;
    position: absolute;
    bottom: 0px;
    left: 0;
  }

  .dynamic-metals .common-para p{margin: 10px 0px 35px;}

  .dynamic-metals ul{padding: 0px;margin: 0px;}
  .dynamic-metals ul li{position:relative;padding: 0px;margin: 0px;display:inline-block;padding:25px 40px 9px 92px;background-color:#fff;-webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.18);margin-bottom: 40px;width:70%;} 

  .dynamic-metals ul li img{position: absolute;left:13px;}

  .dynamic-metals ul li h4{font-family: 'Poppins', sans-serif !important;font-weight: 700;font-size:16px;color: #6d6e71;text-transform: uppercase;}

  .dynamic-metals ul li p{font-family: 'Heebo', sans-serif !important;font-weight:400;font-size: 14px;line-height: 20px;color: #6d6e71;}

  .industries-serving ul{padding: 0px;margin: 0px -15px;margin-top: 40px;}
  .industries-serving ul li {
    display: inline-block;
    padding: 30px 15px 45px 15px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.17);
    width: 15%;
    margin: 0px 10px;
    background-color: #fff;
  }
  .industries-serving ul li img{margin-bottom:25px;display: inline-block;}
  .industries-serving ul li h4{font-family: 'Poppins', sans-serif !important;font-weight: 400;font-size:18px;color: #6d6e71;}

  .scope-services{position: relative;}
  .scope-services:before{position: absolute;background: rgba(0, 0, 0, 0) url("./images/bg-3.png") no-repeat scroll 0 0;left: 0;top:-100px;width: 942px;height:946px;content: "";z-index: -1;}

  .contact-us{position: relative;}

  .clnete-lsts{margin-top: 60px;}

  .contact-us::before {
    position: absolute;
    background: rgba(0, 0, 0, 0) url("./images/bg-3.png") no-repeat scroll 0 0;
    left: 0;
    top: -100px;
    width: 942px;
    height: 946px;
    content: "";
    z-index: -1;
  }

  .clnete-lsts ul{margin: 0px;padding: 0px;}

  .clnete-lsts ul li{display:inline-block;margin: 0px;padding: 0px;width:25%;padding: 10px 0px;border-right:2px solid #dfdfdf;border-bottom: 2px solid #dfdfdf;}

  .clnete-lsts ul li:nth-child(4){border-right: 0px;}
  .clnete-lsts ul li:nth-child(8){border-right: 0px;}
  .clnete-lsts ul li:nth-child(12){border-right: 0px;}
  .clnete-lsts ul li:nth-child(13){border-bottom: 0px;}
  .clnete-lsts ul li:nth-child(14){border-bottom: 0px;}
  .clnete-lsts ul li:nth-child(15){border-bottom: 0px;}
  .clnete-lsts ul li:last-child{border: 0px;}

  .clnete-lsts ul li img{filter: grayscale(100%);opacity:0.5;transition: all 0.5s ease;width:50%;padding: 15px;}

  .clnete-lsts ul li:hover img{padding: 0px;filter: grayscale(0);opacity:1;transition: all 0.5s ease;}

  .clients-pace{background-color: #f6f6f6;}

  .clnts-testmonals{ margin-top: 100px;}

  .our-clients img{width:100%;margin-top: 30px;}

  .testimonial-slider{background:rgba(0, 0, 0, 0) url("./images/bg-4.jpg") no-repeat scroll 0 0; 
    background-size: cover;padding:50px 35px 80px;position: relative;}

.our-cetrefication{background:rgba(0, 0, 0, 0) url("./images/bg-5.jpg") no-repeat scroll 0 0; 
  background-size: cover;}

  .certificates-funtoion{margin-top: 40px;}
  .certificates-funtoion ul{margin: 0px;padding: 0px;}
  .certificates-funtoion ul li {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 17%;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    margin: 0px 20px;position: relative;
  }

  
  .certificates-funtoion ul li img {
    width: 85%;
    border-radius: 15px;
    padding: 15px;
  }

  .testimonial-slider:before{position: absolute;background: rgba(0, 0, 0, 0) url("./images/double-codes.png") no-repeat scroll 0 0;right:25px;top:40px;width: 158px;height:111px;content:"";}

  .testim-head {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100px;
    margin-bottom: 20px;
    margin-top:5px;
  }
  .testim-head img{position: absolute;left:0;border-radius: 100%;}
  .testim-head h4{padding-left:110px;font-family: 'Poppins', sans-serif !important;font-weight: 600;font-size:18px;color: #fff;}
  
  .testim-head span{display:block;font-family: 'Poppins', sans-serif !important;font-weight: 400;font-size:13px;color: #fff;line-height: 20px;}

  .testim-bdoy p{font-family: 'Heebo', sans-serif !important;font-weight:400;font-size: 16px;line-height: 26px;color: #fff;width:86%;}

  .testimonial-slider .slick-dots{text-align: left;margin-top: 25px;bottom:-30px;} 

  .testimonial-slider .slick-dots li.slick-active button::before {
    opacity: 1;
    color: #00aeef;
  }

  
  .testimonial-slider .slick-dots li.slick-active button{ 
    border:4px solid #fff;}

  .testimonial-slider .slick-dots li button{border:4px solid #99c4d2;border-radius: 100%;padding: 0px;width:15px;height:15px;}

  .testimonial-slider .slick-dots li button::before {
    opacity: 1;
    color: #99c4d2;
    width:7px;height: 7px;font-size: 10px; 
    position: absolute;
    top: -1px;
    left: 2.3px;
  }

  .our-clients .common-title{margin-top:0;}

  video::-webkit-media-controls {
  display: none !important;
}

.career-frm{padding: 30px 50px;border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);background-color: #fff;}

  .career-frm input{margin-bottom: 15px;}

.career-frm h4 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  color: #6d6e71;
  font-size: 28px;
  text-transform: uppercase;
  display:block;
  margin-bottom: 20px;
}

.career-frm [type="button"], .career-frm button {
  background-color: #00aeef;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: Poppins,sans-serif !important;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  padding: 10px 34px;
  transition: all .5s ease;
}

.career-frm [type="button"]:hover, .career-frm button:hover {
  background-color: #6d6e71;
  color: #fff;
  transition: all .5s ease;
}

.footer{background:rgba(0, 0, 0, 0) url("./images/footer.jpg") no-repeat scroll 0 0; 
    background-size: cover;padding:65px 0px 50px;position: relative;}

.foot-lnks h4{color:#fff;font-family: 'Poppins', sans-serif !important;font-weight: 600;font-size: 18px;}

.social-lnks h4{color:#fff;font-family: 'Poppins', sans-serif !important;font-weight: 600;font-size: 18px;}

.foot-lnks h5{font-family: 'Heebo', sans-serif !important;font-weight:400;font-size: 17px;line-height: 26px;color: #00aeef;}

.foot-lnks p{font-family: 'Heebo', sans-serif !important;font-weight:400;font-size: 14px;line-height: 26px;color: #fff;}

.foot-lnks ul{padding: 0px;margin: 0px;}

.foot-lnks ul li{padding: 0px;margin: 0px;display:inline-block;width:100%;margin-bottom: 5px;}

.foot-lnks ul li a{font-family: 'Heebo', sans-serif !important;font-weight:400;font-size: 14px;color: #fff;}

.foot-lnks ul li a:hover{color:#00aeef;}

.social-lnks ul{margin: 0px;padding: 0px;padding-top: 10px;}

.social-lnks ul li{margin: 0px;padding: 0px;display: inline-block;margin-right:5px;}

.social-lnks ul li a {color: #fff;height:35px;width:35px;display: inline-block;background-color: #00aeef;border-radius: 100%;position: relative;display: flex;align-items: center;font-size: 16px;}

.social-lnks ul li a:hover{color:#00aeef;background-color: #fff;}

.social-lnks ul li a svg {
  position: absolute;
  left: 10px;
}

section.copywrite{padding:10px 0px;}

.copywrite p{font-family: 'Heebo', sans-serif !important;font-weight:400;font-size: 13px;color: #767676;margin: 0px;}

.main-menu .fixed-top{background-color:#fff;top:44px;transition: all 0.1s ease;z-index: 9999999;}

.main-menu.fixed .fixed-top{top:0;transition: all 0.1s ease;-webkit-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.11);
  -moz-box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.11);
  box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.11);}

.video-tager{position: relative;height: 850px;overflow: hidden;}
.video-tager:before{position: absolute;content:"";left:0;top:0;width:100%;height: 100%;background-color:rgba(0,0,0,0.5 );z-index: 99;}
.video-tager:after{position: absolute;background: rgba(0, 0, 0, 0) url("./images/banner-bg.png") no-repeat scroll 0 0;left:575px;top:130px;width: 665px;height:624px;content:"";z-index: 99;}

.banner-liner {
  position: absolute;
  content: "";
  z-index: 9999;
  display: flex;
  align-items: center;
  top: 35%;
  width: 100%;
}

.navbar{transition: all 0.1s ease;}


.main-menu.fixed .navbar{padding: 0px !important;transition: all 0.1s ease;}

.banner-liner h1{color:#fff;font-family: 'Poppins', sans-serif !important;font-weight: 300;font-size: 60px;text-transform: uppercase;line-height: 82px;position: relative;padding-left: 20px;
  margin-bottom: 0px;}

.banner-liner h1::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 13px;
  width: 4px;
  height: 60px;
  background-color: #00aef0;
}

.banner-liner h1 span{display:block;color:#fff;font-family: 'Poppins', sans-serif !important;font-weight: 700;font-size: 70px;}

.banner-liner .comn-butn{margin-left:15px;} 

.inner-banner{position: relative;padding: 100px 0px 0px;}
.inner-banner img{width:100%;}
.inner-banner:before{position: absolute;content: "";left:0;top:0;width:100%;height: 100%;background-color: #000;opacity: 0.7;}

.banner-sector{position: absolute;width:100%;top:55%;}

.ban-cnt h1{color:#fff;text-transform: uppercase;font-size: 40px;margin-bottom: 10px;}
.ban-cnt ul{margin: 0px;padding:0px;}
.ban-cnt ul li{margin: 0px;padding:0px;display: inline-block;color:#939191;text-transform: uppercase;font-size: 14px;margin-right: 10px;font-weight: 500;}
.ban-cnt ul li.active{color:#fff;font-weight: 500;}
.ban-cnt ul li a{color:#939191;font-weight: 500;}
.ban-cnt ul li a:hover{color:#fff;}

.vison{padding: 35px;position:relative;}
.vison:before{position:absolute;content: "";right:0;top:0;width:2px;background-color: #EAEAEA;height: 100%;}
.mison{padding: 35px;}

.vison-mison h4{font-family: 'Poppins', sans-serif !important;
  font-weight: 700;
  color: #6d6e71;
  font-size: 35px;
  text-transform: uppercase;
  display:block;
  margin-top: 20px;}

  .vison-mison p{font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    color: #6d6e71;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 20px;
    line-height: 34px;}

  .vison p{font-family: 'Heebo', sans-serif !important;font-weight: 400;color: #959595;font-size: 16px;font-style: normal;line-height: 26px;}

  .cont-usall{box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);}

  .get-intoch{padding: 40px;}

  .adress-layr{padding: 40px;background-color: #00aeef;} 

  .adress-layr ul{padding: 0px;margin: 0px;}
  .adress-layr ul li{position: relative;display:inline-block;width:100%;padding-left: 35px;margin-bottom: 25px;}
  .adress-layr ul li span{color:#fff;font-size: 17px;}
  .adress-layr ul li svg{position: absolute;left:0;color:#fff;font-size: 24px;}

  .adress-layr ul li:nth-child(1) svg{top:8px}

  .adress-layr ul li:nth-child(2) svg{top:6px}

  .adress-layr ul li:nth-child(4) svg{top:3px}

  .get-intoch .form-control{margin-bottom: 15px;height: 50px;border:1px solid #cbcbcb !important;background-color: #fdfdfd;
    border-radius: 2px;}

    .get-intoch textarea.form-control{height: 100px;}


    .get-intoch .form-control::-webkit-input-placeholder {color: #acacac;} /* Chrome/Opera/Safari */
    .get-intoch .form-control::-moz-placeholder { color: #acacac;} /* Firefox 19+ */
    .get-intoch .form-control:-ms-input-placeholder { color: #acacac;} /* IE 10+ */
    .get-intoch .form-control:-moz-placeholder {color: #acacac;}  /* Firefox 18- */

    .form-sector .form-control::-webkit-select-placeholder {color: #acacac;} /* Chrome/Opera/Safari */
    .form-sector .form-control::-moz-placeholder { color: #acacac;} /* Firefox 19+ */
    .form-sector .form-control:-ms-select-placeholder { color: #acacac;} /* IE 10+ */
    .form-sector .form-control:-moz-placeholder {color: #acacac;}  /* Firefox 18- */

    .get-intoch [type="button"], .get-intoch button{  padding: 10px 34px;
      font-family: 'Poppins', sans-serif !important;
      font-weight: 500;
      color: #fff;
      font-size: 15px;
      background-color: #00aeef;
      display: inline-block;margin-top: 5px;
      border: none;transition: all 0.5s ease;
    }

    .vison ul{padding: 0px;margin: 0px;}
    .vison ul li{display: inline-block;padding: 0px;margin: 0px;width:100%;position: relative;padding-left: 25px;margin-bottom: 10px;color:#959595;}
    .vison ul li img{position: absolute;left:0;top:2px;}

    .get-intoch [type="button"]:hover, .get-intoch button:hover{background-color: #6d6e71;
      color: #fff;transition: all 0.5s ease;}

      .form-sector [type="button"], .form-sector button{  padding: 10px 34px;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 500;
        color: #fff;
        font-size: 15px;
        background-color: #00aeef;
        display: inline-block;margin-top: 5px;
        border: none;transition: all 0.5s ease;
      }

      .google-map-code h4 {
        font-family: 'Poppins', sans-serif !important;
        font-weight: 600;
        color: #6d6e71;
        font-size: 22px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
      }
  
      .form-sector [type="button"]:hover, .form-sector button:hover{background-color: #6d6e71;
        color: #fff;transition: all 0.5s ease;}

        .form-sector select.form-control{color: #acacac;}

    .products-lstings ul{margin: 0px;padding: 0px;margin-top:50px;}
    .products-lstings ul li{display:inline-block;margin: 15px 20px;padding: 0px;width:30%;}

    .products-lstings.havoc ul li{display:inline-block;margin: 15px 20px;padding: 0px;width:60%;}

    .products-lstings ul li span{display:block;margin-top: 15px;font-family: 'Poppins', sans-serif !important;font-weight: 400;font-size: 18px;color: #6d6e71;}

    .products-lstings ul li img{width:100%;}

    .servce-img img{width:100%;-webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.32);
      -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.32);
      box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.32);}

    .servicing-sector{margin:0 auto;width:90%;margin-top:60px;}

    .servce-cnt span{font-family: 'Poppins', sans-serif !important;
      font-weight: 400;
      color: var(--bs-body-color);font-size: 17px;margin-bottom:-10px;display: block;}

    .servce-cnt.left-prt{padding-left: 30px;}
    .servce-cnt.right-prt{padding-right: 30px;}

    .servce-cnt h4{font-family: 'Poppins', sans-serif !important;font-weight: 700;color: #6d6e71;}
    .servce-cnt h5{font-weight: 500;color: #6d6e71;font-size: 20px;margin:10px 0px 15px 0px;}

    .servces{margin:100px 0px;position: relative;}
    .servces:before{position: absolute;content: "";left:0;top:-50px;height:2px;width:100%;background-color:#f4f3f3;}
    .servces.no-bricks:before{display: none;}

    .services-lstngs{padding:100px 0px 0px;}

    .form-sector{background:rgba(0, 0, 0, 0) url("./images/bg-6.jpg") no-repeat scroll 0 0; 
      background-size: cover;}

    

  .form-sector .form-control{margin-bottom: 15px;height: 50px;border:1px solid #cbcbcb !important;background-color: #fdfdfd;
    border-radius: 2px;}

    .form-sector textarea.form-control{height: 100px;}

    .form-major{background-color: #00aeef6b;width:80%;margin: 0 auto;padding: 50px;}

    .tech-mage img{width:100%;-webkit-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.32);
      -moz-box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.32);
      box-shadow: 0px 0px 21px 1px rgba(0,0,0,0.32);}

    .technolgies-fraction{background-color:#f3f3f3;}

    .tech-props{position: relative;overflow: hidden;margin: 20px 0px;}
    .tech-props:before{position: absolute;content: "";left:0;top:0;width:100%;height: 100%;background: #000;transition: all 0.5s ease;opacity: 0.4;}
    
    .tech-props:after{position: absolute;content: "";left:0;bottom:0;width:5px;height:50px;background:#00aeef;transition: all 0.5s ease;}

    .tech-props:hover .tech-cont{bottom:120px;transition: all 0.5s ease;}

    .tech-props:hover .tech-cont.ltl-lrge {
      bottom: 100px;}
    
    .tech-props:hover:before{transition: all 0.5s ease;opacity: 0.85;}

    .tech-props:hover:after{height:100%;transition: all 0.5s ease;}

    .tech-cont {
      position: absolute;
      bottom: -114px;
      left: 25px;transition: all 0.5s ease;min-height:150px;
      padding-right: 25px;
    }

   .tech-cont.ltl-lrge{bottom: -140px;}

    .tech-cont h4{font-family: 'Poppins', sans-serif !important;
      font-weight: 600;
      font-size: 20px; 
      color: #ffffff;}

      .tech-cont p{color:#fff;}

      .mob-specs{position: relative;}
      .mob-specs ul {display: none;
        position: absolute;
        width: 165px;
        right: 0;
        content: "";
        height: 100px;
        top: 3px;
        z-index: -1;
      }
      .mob-specs ul li{display: inline-block;margin-left: 15px;}
      .mob-specs ul li svg{font-size: 26px;color:#898989;}

      
